.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 15px;
}
.head a,
.head h1 {
  margin: 1;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.textbox {
  height: 100px;
  width: 500px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first {
  background: red;
}
.second {
  background: red;
}

.third {
  background: teal;
}

.hello {
  background: lightgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  height: 200px;
  width: auto;
}

body {
  background-color: rgb(82, 78, 78);
}

.container_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
